body {
    background-color: grey;
  }
  
  .by-adam {
    color: white;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: bold;
    font-variant: small-caps;
  }
  
  .quote-board {
    background-color: white;
    padding: 60px 80px;
    width: 30%;
    margin: 7% auto 0 auto;
    border-radius: 5px; 
  }
  
  .fa-quote-left {
    padding-right: 10px;
    color: grey;
  }
  
  .quote-text {
    padding: 0px 15px 0 15px;
    width: 95%;
    font-weight: lighter;
    text-align: center;
  }
  
  .quote-content {
    color: grey;
    font-size: 40px;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-variant: small-caps;
  }
  
  .quote-author {
    color: grey;
    padding-top: 20px;
    text-align: right;
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-variant: small-caps;
  }
  
  .twitter-share-button, .new-quote{
    cursor: pointer;
  }
  
  .fa-share-alt, .fa-forward {
    border-radius: 15px;
    border: 2px solid grey;
    color: grey;
    padding: 12px;
  }
  
   .fa-share-alt:hover, .fa-forward:hover {
    box-shadow: 1px 1px 2px grey;
  }
   